* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: Arial, sans-serif;
}

body {
	background-color: #F2F2F2;
}

.profile-header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 20px 40px;
	background-color: #FFFFFF;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.logo {
	font-size: 36px;
	color: #333;
	text-decoration: none;
}

.header-right {
	display: flex;
	align-items: center;
	gap: 15px;
}

.upload-btn,
.signout-btn {
	background-color: #555;
	color: #fff;
	padding: 10px 15px;
	margin: 0 5px;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	font-size: 16px;
	font-weight: 700;
	text-decoration: none;
}

.upload-btn:hover,
.signout-btn:hover {
	background-color: rgb(58, 59, 59);
}

.profile-btn img {
	border-radius: 50%;
}


.profile-container {
	text-align: center;
	margin: 30px 0;
}

.profile-pic {
	width: 150px;
	height: 150px;
	border-radius: 50%;
}

.username {
	margin: 15px 0;
	font-size: 24px;
}

.setting-btn,
.edit-profile-btn {
	background-color: #555;
	color: white;
	border: none;
	padding: 10px 15px;
	border-radius: 5px;
	cursor: pointer;
	font-size: 16px;
	font-weight: 700;
	text-decoration: none;
}

.setting-btn:hover,
.edit-profile-btn:hover {
	background-color: rgb(58, 59, 59);
}

.user-artwork {
	margin: 20px;
	text-align: center;
}

.user-artwork h2 {
	margin-bottom: 15px;
}

.art-grid {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}

.art-item {
	background-color: #f9f9f9;
	border: none;
	padding: 20px;
	margin: 15px;
	/* gap of each cards */
	width: 250px;
	text-align: center;
	border-radius: 35px;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
	text-decoration: none;
	cursor: pointer;
	display: block;
}

.art-item a {
	text-decoration: none;
	color: inherit;
}

.art-item img {
	width: 100%;
	height: auto;
	border-radius: 35px;
}

.art-item p {
	font-size: 13px;
	color: rgb(58, 59, 59);
	text-decoration: none;
}