* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: Arial, sans-serif;
}

body {
	background-color: #F2F2F2;
}

.profile-header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 20px 40px;
	background-color: #FFFFFF;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.header-left .logo {
	font-size: 36px;
	color: #333;
	text-decoration: none;
	display: flex;
	align-items: center;
	gap: 15px;
}

.header-right {
	display: flex;
	align-items: center;
	gap: 15px;
}

.upload-btn,
.logout-btn {
	background-color: transparent;
	color: #444;
	padding: 10px 15px;
	margin: 0 5px;
	border: 1px solid #444;
	/*border-radius: 5px;*/
	cursor: pointer;
	font-size: 16px;
	font-weight: 700;
	text-decoration: none;
}

.upload-btn:hover,
.logout-btn:hover {
	/*background-color: rgb(58, 59, 59);*/
	box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.profile-btn img {
	border-radius: 50%;
}


.profile-container {
	text-align: center;
	margin: 30px 0;
}

.profile-pic {
	width: 150px;
	height: 150px;
	border-radius: 50%;
}

.artwork-header {
	display: flex;
	justify-content: space-evenly;
	align-items: center;
}

.left {
	display: flex;
	align-items: center;
	margin: 30px 30px;
	background-color: white;
}

.art {
	width: 500px;
}

.right {
	align-items: center;
}