body {
	background-color:  #F9F9F9;
}

.artwork-body {
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.left {
	align-items: center;
	margin: 50px 50px;
}

.art {
	width: 650px;
	padding: 100px;
	box-shadow: 0 4px 10px 7px rgba(0, 0, 0, 0.2);
	
}

.right {
	position: relative;
	top: -45px;
	/*border: 1px solid #444;*/
	align-items: center;
	margin:  50px 70px;
	width: 65%;
}

.title1, .title2, .title0 {
	line-height: 1;
	font-weight: 65;
}

.title0 {
	top: 5px;
}

.title2 {
	color: #696969;
}

section {
	align-items: center;
	width: 85%;
	height: 300px;
	padding: 15px;
	border: 1px solid #dedede;
	background-color: #dedede;
}

.bidding, .highest {
	margin-left: 1em;
}

.highest {
	color: #d10202;
}

.closed {
	margin-left: 1em;
	color: red;
}

.link {
	text-decoration: none;
}

.placebid input[type="number"] {
	width: 85%;
	padding: 10px;
	margin-top: 15px;
	margin-bottom: 15px;
	margin-left: 1em;
	border: 1px solid #ccc;
	/*border-radius: 5px;*/
	font-size: 15px;
}

.bid-btn {
	width: 90.5%;
	padding: 10px;
	margin-left: 1em;
	background: none;
	border: 1px solid #444;
	color: #444;
	font-size: 15px;
	font-weight: bold;
	cursor: pointer;
	/*border-radius: 5px;*/
	margin-top: 10px;
}

form button:hover {
	background-color: #c9c9c9;
	box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

hr {
	margin-top: 2em;
}

.left-line {
	margin-top: 4em;
}

.un-save-btn, 
.save-btn,
form button.un-save-btn:hover,
form button.save-btn:hover {
	height: 30px;
	width: auto;
	background-color: transparent;
	border: none;
	box-shadow: none;
	
}

.heart:hover {
	opacity: 0.7;
}

.save-changes-btn, 
.remove-btn {
	width: 40%;
	padding: 10px;
	background: none;
	color: #444;
	font-size: 15px;
	font-weight: bold;
	cursor: pointer;
	/*border: 1px solid #ccc;*/
	/*border-radius: 5px;*/
	margin-top: 10px;
}

.edit-description textarea {
	width: 97%;
	padding: 10px;
	margin-bottom: 10px;
	margin-top: 20px;
	border: 1px solid #ccc;
	/*border-radius: 5px;*/
	font-size: 15px;
	resize: vertical;
	height: 100px;
}

.edit-artwork input[type="text"] {
	width: 75%;
	padding: 10px;
	margin-bottom: 10px;
	border: 1px solid #ccc;
	/*border-radius: 5px;*/
	font-size: 15px;
	resize: vertical;
	height: 25px;
}

.edit-artwork label {
	display: block;
	line-height: 0.5;
	font-weight: 65;
}

.edit-section {
	align-items: center;
	width: 80%;
	height: 150px;
	border: 1px solid #dedede;
	background-color: #dedede;
}

.bid-input {
	width: 85%;
	padding: 10px;
	margin-top: 15px;
	margin-bottom: 15px;
	margin-left: 1em;
	border: 1px solid #ccc;
	/*border-radius: 5px;*/
	font-size: 15px;
}

.edit-button {
	background-color: transparent;
	color: #444;
	padding: 10px 15px;
	margin: 0 5px;
	border: 1px solid #444;
	cursor: pointer;
	font-size: 16px;
	font-weight: 700;
	text-decoration: none;
}

.edit-button:hover {
	box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.tag:not(:last-child) {
	&:after {
		content: ","
	}
}