* {
	box-sizing: border-box;
}

body {
	background-color: #F9F9F9;
}

.profile-container {
	max-width: 750px;
	margin: 0 auto;
	padding: 20px;
}

.profile-card {
	display: flex;
	flex-direction: row;
	background-color: white;
	border-radius: 10px;
	box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
	overflow: hidden;
	margin-bottom: 20px;
	padding: 20px;
}

.profile-img {
	width: max-content;
	height: max-content;
	border-radius: 50%;
	overflow: hidden;
	border: 5px solid #e5e5e5;
	margin-right: 30px;
}

.profile-details {
	flex: 1;
}
 
.display-name {
	font-size: 24px;
	font-weight: bold;
	color: #222;
	margin-bottom: 10px;
}

.profile-details, .name {
	color: #b3b3b3;
	font-size: 18px;
}


@media (max-width: 768px) {
	.profile-card {
		flex-direction: column;
		align-items: center;
		text-align: center;
	}
	
	.profile-img {
		margin-bottom: 20px;
	}
}

.user-artwork {
	margin: 20px;
}

.user-artwork h2 {
	margin: 50px 0 20px 0;
}

.art-grid {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}

.saved-artwork {
	margin: 20px;
	text-align: center;
}

/* Order History */
.order-history {
	max-width: 750px;
	margin: 0 auto;
	padding: 20px;
	background-color: white;
	border-radius: 2px;
	box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.order-history div {
	text-align:center;
}

.tbl-order {
	width: 100%;
	border-collapse: collapse;
	margin-top: 20px;
}

.tbl-order thead {
	background-color: rgb(58, 59, 59);
	color: white;
}

.tbl-order th, 
.tbl-order td {
	padding: 15px;
	text-align:left;
	border-bottom: 1px solid #ddd
}

.tbl-order tbody tr:hover {
	background-color: #f9f9f9;
}