* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: Arial, sans-serif;
	letter-spacing: 1px;
}

body {
	background-color: #F9F9F9;
}

.profile-header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 20px 20px;
	background-color: #FFFFFF;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.logo {
	font-size: 36px;
	color: #333;
	text-decoration: none;
}

.header-mid {
	display: flex;
	justify-content: center;
	margin-bottom: 17px;
}

.header-right {
	display: flex;
	align-items: center;
	gap: 15px;
}

.upload-btn,
.logout-btn {
	background-color: transparent;
	color: #444;
	padding: 10px 10px;
	margin: 0 5px;
	border: 1px solid #444;
	/*border-radius: 5px;*/
	cursor: pointer;
	font-size: 16px;
	font-weight: 700;
	text-decoration: none;
}

.upload-btn:hover,
.logout-btn:hover {
	/*background-color: rgb(58, 59, 59);*/
	box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.profile-btn img {
	border-radius: 50%;
}


.profile-container {
	max-width: 750px;
	margin: 0 auto;
	padding: 20px;
}

.profile-card {
	display: flex;
	flex-direction: row;
	background-color: white;
	border-radius: 10px;
	box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
	overflow: hidden;
	margin-bottom: 20px;
	padding: 20px;
}

.profile-img {
	width: max-content;
	height: max-content;
	border-radius: 50%;
	overflow: hidden;
	border: 5px solid #e5e5e5;
	margin-right: 30px;
}

.profile-details {
	flex: 1;
}
 
.display-name {
	font-size: 24px;
	font-weight: bold;
	color: #222;
	margin-bottom: 10px;
}

.profile-details, .name {
	color: #b3b3b3;
	font-size: 18px;
}

.setting-btn,
.edit-profile-btn, .artwork-btn, .favorite-btn {
	background-color: transparent;
	color: #444;
	border: 1px solid #444;
	padding: 10px 15px;
	/*border-radius: 5px;*/
	cursor: pointer;
	font-size: 16px;
	font-weight: 700;
	text-decoration: none;
	margin: 10px;
}

.setting-btn:hover,
.edit-profile-btn:hover {
	/*background-color: rgb(58, 59, 59);*/
	box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

@media (max-width: 768px) {
	.profile-card {
		flex-direction: column;
		align-items: center;
		text-align: center;
	}
	
	.profile-img {
		margin-bottom: 20px;
	}
}

.submit-pfp, .follow {
	width: 25%;
	padding: 5px;
	background-color: none;
	border: 1px solid #444;
	color: #444;
	font-size: 15px;
	font-weight: bold;
	cursor: pointer;
	/*border-radius: 5px;*/
	margin-top: 10px;
}

.follow:hover, .submit-pfp:hover, .display-follow:hover, 
.artwork-btn:hover, .favorite-btn:hover{
	color: white;
	background-color: rgb(58, 59, 59);
	box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.display-follow {
	text-decoration: none;
	width: 25%;
	padding: 5px;
	background-color: none;
	border: 1px solid #444;
	color: #444;
	font-size: 15px;
	font-weight: bold;
	cursor: pointer;
	/*border-radius: 5px;*/
	margin-top: 10px;
}

.user-artwork {
	margin: 20px;
	text-align: center;
}

.user-artwork h2 {
	margin: 50px 0 20px 0;
}

.art-grid {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}

.art-item {
	background-color: transparent;
	/*border-radius: 35px;*/
	padding: 20px;
	margin: 15px;
	width: 250px;
	text-align: center;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
	border: 1px solid #444;
}

.art-item:hover {
	box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.art-item a {
	text-decoration: none;
	color: inherit;
}

.art-item img {
	width: 100%;
	height: auto;
	/*border-radius: 35px*/;
}

.art-item p {
	font-size: 13px;
	color: rgb(58, 59, 59);
	text-decoration: none;
}

.saved-artwork {
	margin: 20px;
	text-align: center;
}